/* styles go here */
.registration {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.field {
  margin-top: 20px;
  margin-bottom: 20px;
}

#firstField {
  margin-top: 10px;
}

#submition {
  margin-top: 10px;
}

input,
select {
  margin-left: 4px;
}

#confirm,
#reject {
  margin-left: 9px;
  margin-bottom: 1px;
}

.lab {
  margin-top: 2px;
  margin-left: 2px;
}

.down {
  margin-bottom: 5px;
}

.up {
  margin-top: 10px;
}

p {
  margin: 0;
  padding: 0;
}

.up-feed {
  margin-top: 10px;
}

.zero {
  display: flex;
  flex-direction: row;
}

.closer {
  margin-left: 0.5px;
}
